<nav class="navbar navbar-dark bg-white">
    <a class="navbar-brand" href="{% url 'index' %}">Каталог статей</a>
    <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-black" href="{% url 'new_article' %}">Новая статья</a>
            <a class="p-2 text-black" href="{% url 'author_index' %}">Авторы</a>
            <a class="p-2 text-black" href="{% url 'index' %}">Каталог статей</a>
    </nav>
</nav>