{% extends "base.html" %}
{% block title %}Страница статьи{% endblock %}
{% block header %}Страница статьи{% endblock %}
{% block content %}


<div class="col-md-9" xmlns="http://www.w3.org/1999/html">
    <div class="card mb-3 mt-1 shadow-sm">

        <div class="card-body">
            <p class="card-text">
                <strong class="d-block text-gray-d ark">
                    {% for author in article.author.all %}
                    <a href="{% url 'profile' author.id %}">
                        {{ author.first_name }} {{ author.last_name }}
                    </a>
                    {% endfor %}
                </strong></br>
                {{ article.title }}</br>
                {{ article.text|linebreaksbr}}
            </p>
        </div>
    </div>
</div>

{% endblock %}