{% extends "base.html" %}
{% block title %}Авторы{% endblock %}
{% block header %}Авторы{% endblock %}

{% block content %}

    {% for author in authors %}
        <div class="card mb-3 mt-1 shadow-sm">

            <div class="card-body">
                <p class="card-text">
                    <strong class="d-block text-gray-d ark">
                        <a href="{% url 'profile' author.id %}">
                            {{ author.first_name }} {{ author.last_name }}
                        </a>
                    </strong></br>
                    {% include "includes/user_card.html" %}
                </p>
            </div>
        </div>
{% endfor %}

    {% endblock %}