{% extends "base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}

{% block content %}

    {% for article in page %}
            <div class="card mb-3 mt-1 shadow-sm">
                <div class="card-body">
                    <p class="card-text">
                        <strong class="d-block text-gray-d ark">
                            {% for author in article.author.all %}
                                {{ author.first_name }} {{ author.last_name }}
                            {% endfor %}
                        </strong></br>
                        <a href="{% url 'article_view' article.id %}">
                            {{ article.title|linebreaksbr }}
                        </a>
                    </p>
                </div>
            </div>
    {% endfor %}

    {% if page.has_other_pages %}
            {% include "includes/paginator.html" with items=page paginator=paginator %}
    {% endif %}

{% endblock %}