{% extends "base.html" %}
{% block title %}Добавить запись{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">
            <div class="card-header">Добавить запись</div>
            <div class="card-body">

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group row" aria-required={% if field.field.required %}
                                "true"{% else %}"false"{% endif %}>
                            <labels for="{{ field.id_for_label }}"
                               class="col-md-4 col-form-label text-md-right">
                                {{ field.label }}
                                {% if field.field.required %}<span class="required">*</span>{% endif %}
                            </labels>
                            <div class="col-md-6">

                                {{ field }}

                                {% if field.help_text %}
                                    <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                                        {{ field.help_text|safe }}
                                    </small>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}

                    <div class="col-md-6 offset-md-4">
                        <button type="submit" class="btn btn-primary">Добавить запись</button>
                    </div>
                </form>
            </div> <!-- card body -->
        </div> <!-- card -->
    </div> <!-- col -->
</div> <!-- row -->

{% endblock %}